.container {
  display: flex;
  max-width: 1200px;
  margin: 5% auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  height: 80vh; 
  }

  .left-panel {
    flex: 1;
    padding: 40px;
    background-color: rgb(238, 230, 230);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-panel p {
    margin-bottom: 20px;
    font-size: 18px; /* Tamaño de fuente más grande */
    color: #333;
  }

  .map-image {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .logo {
    max-width: 100%; /* Ajusta el tamaño de la imagen de logo */
    height: auto;
    display: block;
    margin: 20px auto; /* Centra el logo y añade margen superior/inferior */
  }
  
  .right-panel {
    flex: 2;
    padding: 40px;
    background-color: #ff6b6b;
    color: white;
    overflow-y: auto;
  }
 
  mat-form-field {
    width: 100%; /* Hacer que los campos de formulario ocupen el ancho completo */
    margin-bottom: 16px; /* Espaciado entre los campos */
  }
  
  .custom-button {
    margin-top: 20px;
    background-color: #3f51b5; /* Color de fondo del botón */
    color: rgb(0, 0, 0); /* Color del texto del botón */
    font-weight: bold; /* Negrita para el texto */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 20px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave al cambiar el color */
  }
  
  .custom-button:hover {
    background-color: #303f9f; /* Color de fondo del botón al pasar el mouse */
  }



  