<div class="container" style="text-align: center;margin:2%">
    <div><h1>Registro de Departamentos</h1></div>
    <div>
      <form [formGroup]="form" (submit)=" insertar()">
        <mat-form-field class="example-full-width">
          <mat-label>id</mat-label>
          <input matInput placeholder="id" formControlName="hid" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Lima" formControlName="hnombre" />
          </mat-form-field>
          <br />
          
      <div>
        <button mat-flat-button class="custom-button">Registrar</button>
      </div>
    </form>
  </div>
</div>