.container {
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 2% auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: #ffffff; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centrar el texto */
  }
  
  h1 {
    color: #3f51b5; /* Color del título */
    font-size: 28px; /* Tamaño de la fuente */
    margin-bottom: 20px; /* Espaciado debajo del título */
  }
  
  mat-form-field {
    width: 100%; /* Hacer que los campos de formulario ocupen el ancho completo */
    margin-bottom: 16px; /* Espaciado entre los campos */
  }
  
  .custom-button {
    background-color: #3f51b5; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    font-weight: bold; /* Negrita para el texto */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave al cambiar el color */
  }
  
  .custom-button:hover {
    background-color: #303f9f; /* Color de fondo del botón al pasar el mouse */
  }
  
  .form-label {
    text-align: left ;
    font-size: 16px;
    font-weight: bold;
    color: #5a5a5a; /* Ajusta según el color del formulario */
    margin-bottom: 8px;
    display: block;
  }
  