<div class="cities-container">
  <div class="city-card">
      <img src="icons/lima.jpg" alt="Lima" class="city-image">
      <div class="city-overlay">Lima</div>
  </div>
  <div class="city-card">
      <img src="icons/arequipa.jpg" alt="Arequipa" class="city-image">
      <div class="city-overlay">Arequipa</div>
  </div>
  <div class="city-card">
      <img src="icons/puno.jpg" alt="Puno" class="city-image">
      <div class="city-overlay">Cusco</div>
  </div>
  <div class="city-card">
    <img src="icons/huanuco.jpg" alt="Huanuco" class="city-image">
    <div class="city-overlay">Huanuco</div>
</div>
<div class="city-card">
    <img src="icons/ica.jpg" alt="Ica" class="city-image">
    <div class="city-overlay">Ica</div>
</div>
<div class="city-card">
    <img src="icons/arequipa.jpg" alt="Arequipa" class="city-image">
    <div class="city-overlay">Arequipa</div>
</div>
  <!-- Add more city-card elements as needed -->
</div>

<footer>
  <div class="footer-content">
      <div class="footer-section logo-section">
          <img src="icons/helplogo.png" alt="Help Logo" class="logo"> <!-- Replace with your logo path -->
          <div class="subscribe-form">
              <label for="email" class="form-label">Suscríbete</label>
              <div class="form-inputs">
                  <input type="email" id="email" placeholder="Tu e-mail" class="input-field">
                  <button class="subscribe-button">Suscribirse</button>
              </div>
              <div class="payment-icons">
                  <img src="icons/visa.png" alt="Visa"> <!-- Replace with actual icon paths -->
                  <img src="icons/mastercard.png" alt="MasterCard">
                  <img src="icons/amex.png" alt="Amex">
                  <img src="icons/paypal.jpg" alt="PayPal">
              </div>
          </div>
      </div>
      <div class="footer-section">
          <h4>Contáctanos</h4>
          <p>help-org.pe</p>
          <p>(51) 951-729-929</p>
      </div>
      <div class="footer-section">
          <h4>Nuestra dirección</h4>
          <p>Av Santa Cruz 914</p>
          <p>Miraflores, 15073</p>
      </div>
      <div class="footer-section">
          <h4>Obtener la aplicación</h4>
          <div class="app-links">
              <img src="icons/playstore.png" alt="App Store">
          </div>
      </div>
  </div>
</footer>
