<div class="container">
  <div style="text-align: center; margin: 10%">
    <h1>Lista de Tipos de Usuarios</h1>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element">{{ element.idTipoUsuario }}</td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let element">
          {{ element.rol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element" (click)="eliminar(element.idTipoUsuario)">
          <mat-icon>delete</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button [routerLink]="['ediciones',element.idTipoUsuario]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
