<mat-toolbar class="custom-toolbar">
  <mat-icon>menu</mat-icon>
  <div>
    <button mat-button [matMenuTriggerFor]="menuDepartamentos" style="color: white">
      Departamentos
    </button>
    <button mat-button [matMenuTriggerFor]="menuTipoUsuarios" style="color: white">
      Tipo Usuarios
    </button>
    <button mat-button [matMenuTriggerFor]="menuTipoDonaciones" style="color: white">
      Tipo Donaciones
    </button>
    <button mat-button [matMenuTriggerFor]="menuUsuarios" style="color: white">
      Usuarios
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuTipoCampanias" style="color: white">
      Tipo Campañas
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuDistritos" style="color: #324679">
      Distritos
    </button>
  </div>
  
</mat-toolbar>

<mat-menu #menuDepartamentos="matMenu">
  <button mat-menu-item routerLink="/departamentos">Listar</button>
  <button mat-menu-item routerLink="/departamentos/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuTipoUsuarios="matMenu">
  <button mat-menu-item routerLink="/tipoUsuarios">Listar</button>
  <button mat-menu-item routerLink="/tipoUsuarios/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuTipoDonaciones="matMenu">
  <button mat-menu-item routerLink="/tipoDonacion">Listar</button>
  <button mat-menu-item routerLink="/tipoDonacion/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuUsuarios="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuTipoCampanias="matMenu">
  <button mat-menu-item routerLink="/tipoCampanias">Listar</button>
  <button mat-menu-item routerLink="/tipoCampanias/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuDistritos="matMenu">
  <button mat-menu-item routerLink="/distritos">Listar</button>
  <button mat-menu-item routerLink="/distritos/nuevo">Registrar</button>
</mat-menu>
<router-outlet></router-outlet>