.custom-toolbar {
  background-color: rgb(255, 198, 0);
  color: #a10e0e;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky; /* Makes the toolbar static at the top */
  top: 0; /* Sticks it to the top */
  z-index: 1000; /* Ensures it stays above other elements */
}

mat-icon {
  color: #FF5858; 
  margin-right: 8px;
}

button.mat-button {
  color: #FF2020; /* Color de texto en rojo para los botones */
  font-weight: bold;
}

mat-menu {
  background-color: #FFEBC6; /* Fondo claro del menú */
  min-width: 150px;
}

mat-menu button.mat-menu-item {
  color: #FF2020; /* Color de texto rojo para los elementos del menú */
  padding: 10px 20px;
}

mat-menu button.mat-menu-item:hover {
  background-color: #FFC966; /* Fondo en amarillo más intenso al pasar el mouse */
}

button.mat-button[matMenuTriggerFor] {
  background-color: #FF9090; /* Fondo rosado suave para botones con menú desplegable */
  color: rgb(255, 255, 255);
  border-radius: 4px;
  margin-right: 8px;
}

button.mat-button[matMenuTriggerFor]:hover {
  background-color: #FF5858; /* Fondo en un rojo más oscuro al pasar el mouse */
}

.custom-menu-item {   
  color: white; 
  &:hover {
    color: white; 
  }
}
.left-menu {
  display: flex; /* Permite alinear los botones horizontalmente */
}

.right-menu {
  margin-left: auto; /* Empuja el menú de usuarios a la derecha */
}
