<mat-toolbar class="custom-toolbar">
  <mat-icon>menu</mat-icon>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuDepartamentos"
      style="color: rgb(0, 0, 0)"
    >
      Departamentos
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="menuTipoUsuarios"
      style="color: rgb(0, 0, 0)"
    >
      Tipo Usuarios
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="menuTipoDonaciones"
      style="color: rgb(0, 0, 0)"
    >
      Tipo Donaciones
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="menuUsuarios"
      style="color: rgb(0, 0, 0)"
    >
      Usuarios
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="menuTipoCampanias"
      style="color: rgb(0, 0, 0)"
    >
      Tipo Campañas
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="menuDistritos"
      style="color: rgb(0, 0, 0)"
    >
      Distritos
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="menuPedirAyudas"
      style="color: rgb(0, 0, 0)"
    >
      Pedidos de Ayuda
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="menuCampanias"
      style="color: rgb(0, 0, 0)"
    >
      Campañas
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="menuDonaciones"
      style="color: rgb(0, 0, 0)"
    >
      Donaciones
    </button>
    <button mat-button [matMenuTriggerFor]="menuReportes" style="color: white">
      <mat-icon>insert_chart</mat-icon>Reportes
    </button>
  </div>
</mat-toolbar>

<mat-menu #menuDepartamentos="matMenu">
  <button mat-menu-item routerLink="/departamentos">Listar</button>
  <button mat-menu-item routerLink="/departamentos/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuTipoUsuarios="matMenu">
  <button mat-menu-item routerLink="/tipoUsuarios">Listar</button>
  <button mat-menu-item routerLink="/tipoUsuarios/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuTipoDonaciones="matMenu">
  <button mat-menu-item routerLink="/tipoDonacion">Listar</button>
  <button mat-menu-item routerLink="/tipoDonacion/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuUsuarios="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuTipoCampanias="matMenu">
  <button mat-menu-item routerLink="/tipoCampanias">Listar</button>
  <button mat-menu-item routerLink="/tipoCampanias/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuDistritos="matMenu">
  <button mat-menu-item routerLink="/distritos">Listar</button>
  <button mat-menu-item routerLink="/distritos/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuPedirAyudas="matMenu">
  <button mat-menu-item routerLink="/pedirAyudas">Listar</button>
  <button mat-menu-item routerLink="/pedirAyudas/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuCampanias="matMenu">
  <button mat-menu-item routerLink="/campanias">Listar</button>
  <button mat-menu-item routerLink="/campanias/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuDonaciones="matMenu">
  <button mat-menu-item routerLink="/donaciones">Listar</button>
  <button mat-menu-item routerLink="/donaciones/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="/reportes">
    <mat-icon> pie_chart</mat-icon> DonacionesMes
  </button>
  <button mat-menu-item routerLink="/reportes/donacionesPorUsuario">
    <mat-icon> bar_chart</mat-icon> DonacionesUsuario
  </button>
  <button mat-menu-item routerLink="/reportes/donacionesPorCampania">
    <mat-icon> bar_chart</mat-icon> Donaciones Campaña
  </button>
  <button mat-menu-item routerLink="/reportes/voluntariosPorCampania">
    <mat-icon> bar_chart</mat-icon> Voluntarios Campaña
  </button>
</mat-menu>
<router-outlet></router-outlet>
