<div class="container" style="text-align: center; margin: 2%">
    <div>
      <h1>{{ title }}</h1>
    </div>
    <div>
      <form [formGroup]="form" (submit)="insertar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput placeholder="1" formControlName="hcodigo" />
        </mat-form-field>

        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Teléfono </mat-label>
          <input matInput formControlName="htelefono" placeholder="999999999">
          <mat-error *ngIf="form.get('htelefono')?.hasError('required')">El teléfono es obligatorio</mat-error>
          <mat-error *ngIf="form.get('htelefono')?.hasError('pattern')">Debe tener 9 dígitos numericos</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Monto Transferido</mat-label>
          <input matInput formControlName="hmontotransferido" placeholder="150">
          <mat-error *ngIf="form.get('hmontotransferido')?.hasError('required')">En caso de no Donar dinero, colocar 0</mat-error>
          <mat-error *ngIf="form.get('hmontotransferido')?.hasError('pattern')">Monto inválido</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Descripción Donación</mat-label>
          <input matInput placeholder="Esta donación..." formControlName="hdescripciondonacion" />
          <mat-error *ngIf="form.get('hdescripciondonacion')?.hasError('required')">La descripcion es obligatoria</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Elige una fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="hfechadonacion" [max]="maxFechaDonacion">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('hfechadonacion')?.hasError('required')">La fecha es obligatoria</mat-error>
        </mat-form-field>

        <br />
    
        <mat-form-field class="example-full-width">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="hestado">
            <mat-option *ngFor="let estado of estados" [value]="estado.value">
              {{ estado.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('hestado')?.hasError('required')">El estado es obligatorio</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field>
          <mat-label>Donador</mat-label>
          <mat-select formControlName="husuario">
            @for (food of listaDonadores; track food) {
            <mat-option [value]="food.idUsuario">{{ food.nombre }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('husuario')?.hasError('required')">El nombre de usuario es obligatorio</mat-error>
        </mat-form-field>
  
        <mat-form-field>
            <mat-label>Campaña </mat-label>
            <mat-select formControlName="hcampania">
              @for (food of listaCampanias; track food) {
              <mat-option [value]="food.idCampania">{{ food.descripcionCampania }}</mat-option>
              }
            </mat-select>
            <mat-error *ngIf="form.get('hcampania')?.hasError('required')">Elegir la campaña es obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Tipo Donación</mat-label>
            <mat-select formControlName="htipodonacion">
              @for (food of listaTipoDonaciones; track food) {
              <mat-option [value]="food.idTipoDonacion">{{ food.descripcion}}</mat-option>
              }
            </mat-select>
            <mat-error *ngIf="form.get('htipodonacion')?.hasError('required')">Elegir el tipo de donacion es obligatorio</mat-error>
          </mat-form-field>

        <div>
          <button mat-flat-button class="custom-button">{{ buttonText }}</button>
        </div>
      </form>
    </div>
  </div>
