<div class="container" style="text-align: center; margin: 2%">
  <div class="left-panel">
    <h1>Empecemos a crear un tipo de usuario </h1>
    <img src="icons/perulogo2.png" alt="Mapa" class="map-image">
  </div>
  <div class="right-panel">
    <img src="icons/helplogo.png" alt="Logo" class="logo">
    <form [formGroup]="form" (submit)="insertar()">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput placeholder="1" formControlName="hcodigo" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Tipo</mat-label>
        <input matInput placeholder="Donante" formControlName="htipo" />
      </mat-form-field>
      <br />
      <div>
        <button mat-flat-button class="custom-button">{{buttonText}}</button>
      </div>
    </form>
  </div>
</div>
