.right-panel {
    flex: 1; /* Panel derecho toma 1 parte del espacio */
    padding: 40px;
    background: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Efecto borroso */
    color: white;
    overflow-y: auto;
    text-align: left;
  }

  .logo {
    max-width: 100%; /* Ajusta el tamaño de la imagen de logo */
    height: auto;
    display: block;
    margin: 20px auto; /* Centra el logo y añade margen superior/inferior */
  }
